node_modules
**/*~
/SketcherWebsite/app/config/parameters.yml
/SketcherWebsite/build/
/SketcherWebsite/phpunit.xml
/SketcherWebsite/var/*
!SketcherWebsite/var/cache
/SketcherWebsite/var/cache/*
!/SketcherWebsite/var/cache/.gitkeep
!/SketcherWebsite/var/logs
/SketcherWebsite/var/logs/*
!/SketcherWebsite/var/logs/.gitkeep
!/SketcherWebsite/var/sessions
/SketcherWebsite/var/sessions/*
!/SketcherWebsite/var/sessions/.gitkeep
!/SketcherWebsite/var/SymfonyRequirements.php
/SketcherWebsite/vendor/
/SketcherWebsite/web/bundles/
/SketcherWebsite/web/uploads/
SketcherWebsite/composer.lock
