{% extends 'base.html.twig' %}

{% block title %}- {{ 'Gallery'|trans }}{% endblock %}

{% block body %}
    <div id="topSlide">
    {% for sketch in sketches %}
        <a href="#" class="sketch">
            <img src="{{ asset(sketches_directory ~ '/' ~ sketch.path)}}">
        </a>
    {% endfor %}
    </div>

{% endblock %}
