body {
	margin-bottom: 30px;
}

hr {
	width: 30%;
	border: none;
	border-top: 1px solid #999;
	margin: 5px auto 30px auto;
}

nav {
	z-index: 99;
}

	nav .menu-item ul {
	 z-index: 99;
	}

input[type="number"] {
	width: 100%;
}

.wordTruncation {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.form {
	margin-bottom: 0;
}

section.row {
	width: 100%;
}

input[type="submit"] {
	text-align: center;
}

input[type="text"], input[type="password"], input[type="email"], select {
	width: 100%;
}

div#top {
	padding: 10px 10px 5px 10px;
	overflow-x: hidden;
}

div#topSlide {
	height: 205px;
	overflow: hidden;
}

form#search {
}

	form#search div.form_group {
		margin: 0;
	}

	form#search input {
		display: inline-block;
	}

		form#search input + button {
			float: right;
		}

div.error, div.info {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	padding: 10px;
	position: relative;
}

	div.error p, div.info p {
		margin: 0;
	}

	div.error a.float, div.info a.float {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	div.error {
		color: #e33333;
		border-color: #e33333;
	}

	div.info {
		color: #1b67d9;
		border-color: #1b67d9;
	}

.table.table-hover tbody tr:hover a {
	color: white;
}

.table.table-hover thead tr:hover {
	background-color: white;
}

div#top a.sketch {
	border-radius: 3px;
	border: 1px solid #fff;
	background: #fff;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
	transition: opacity .3s;
}

	a.sketch:hover {
		opacity: .9;
	}

	a.sketch img {
		width: 100%;
		max-height: 100%;
	}

	a.sketch span.author {
		text-align: center;
		color: #333;
		background: rgba(255,255,255,.9);
		display: block;
		padding: 0 5px;
		position: absolute;
		bottom: 15px;
		width: 100%;
		height: 13px;
		line-height: 10px;
		box-shadow: 0 0 4px 4px rgba(255,255,255,.9);
		}

div#gallery figure.thumbnail {
	height: 180px;
	vertical-align: top;
	position: relative;
	border-color: #ccc;
}

	div#gallery figure.thumbnail a.sketch {
		height: 145px;
		display: block;
		line-height: 140px;
		text-align: center;
	}

		div#gallery figure.thumbnail a.sketch img {
			border-radius: 3px;
			max-height: 140px;
			max-width: 100%;
			height: auto;
			width: auto;
			vertical-align: middle;
		}

		div#gallery figure.thumbnail figcaption {
			text-align: center;
			font-size: 15px;
			border: none;
			border-top: 1px solid #ccc;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}

figure#showSketch {
	min-width: 500px;
	max-width: 100%;
}

	figure#showSketch img {
		max-width: 100%;
		max-height: 700px;
		width: auto;
		height: auto;
	}

div.tagInput {
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 2px;
	position: relative;
}

	div.tagInput span.tooltip ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

		div.tagInput span.tooltip ul li.active {
			background: rgba(255,255,255,.2);
			border-radius: 3px;
		}

	div.tagInput span.label {
		display: inline-block;
		font-size: 12px;
		line-height: 12px;
		margin: 1px;
		vertical-align: top;
	}

		div.tagInput span.label a.close {
			float: right;
			width: 13px;
			height: 13px;
			padding: 0 1px;
			font-size: 11px;
			line-height: 10px;
			margin-left: 5px;
		}

	div.tagInput input[type="text"].tagInputField {
		margin-top: 2px;
		padding: 3px;
		border: 0px solid transparent;
		display: inline-block;
		width: 100%;
	}

		div.tagInput input[type="text"].tagInputField:focus {
			outline: none;
		}

	div.tagInput input[type="text"].tagInputValue {
		display: none;
	}
