<div class="col-12">
    {% for sketch in sketches %}
        <figure class="thumbnail col-3">
            <a href="{{ path('showSketch', {'sketchId': sketch.id}) }}" class="sketch">
                <img src="{{ asset(sketches_directory ~ '/' ~ sketch.path)}}">
            </a>
            <figcaption>
            <center>
                {{sketch.name}}
            </center>
            </figcaption>
        </figure>
    {% endfor %}
</div>

{% include 'modules/pagination_buttons.html.twig' with {'total_sketches' : total_sketches, 'length' : sketches|length, 'nb_elements_page' : nb_elements_page} %}
